// .layout-header .banner-profile {
//   background-image: url(./banner_profile.png);
// }
.container {
  .list:hover{
    background-color: rgb(221, 221, 221);
    border-radius: 2px;
  }
  .navigation-profile {
  }
  .personal-profile {
    .ant-descriptions-bordered .ant-descriptions-view,
    td {
      border: none;
    }
  }
  .account-info {
    .title-account-info {
      color: rgba(0, 0, 0, 0.85);
      font-weight: bold;
      font-size: 16px;
      line-height: 1.5715;
    }
    .ant-form-item-control-input-content {
      flex: auto;
      max-width: 50%;
    }
  }
}

button.ant-btn.ant-btn-primary {
  margin-bottom: 10px;
}

.personal-profile input {
  width: 600px;
  float: right;
  margin-right: 150px;
}

.personal-profile textarea {
  width: 600px;
  float: right;
  margin-right: 150px;
}

.form-edit {
  margin-top: 40px;
}

.button.ant-btn {
  margin-left: 131px;
}

.spin {
  text-align: center;
  margin-top: 50px;
}
