.sidebar-menu > ul > li > a {
  text-decoration: none;
}

.header-left > a {
  text-decoration: none;
}

.rounded-circle {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.online {
  margin-right: 10px;
}

